.main-header{
    padding: 2.5% 1.25%;
    display: flex;
    justify-content: space-evenly;

    .left{
        text-align: left;
        flex-grow: 2;

        button{
            
            a{
                text-decoration: none;
                color: $primary-700;
            }
        }
    }

    .center{
        flex-grow: 3;

        h1{
            padding-right: 15%;
            font-size: 3em;
            color: $primary-500;
            text-align: center;
            font-weight: 700;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px $dark-700;
        }
    }

    .right{
        text-align:right;
        flex-grow: 1;
    }

}

button{
    padding: 1.5%;
    border-radius: 25px;
    border: 2px solid $dark-700;
    background-color: $primary-100;
    font-size: 1.05em;
    box-shadow: 2px 2px 3px $dark-900;
}